.light-theme .dashboard-incomplete {
  background-color: #f5deb3; /* burlywood */
  color: #000;
}

.dark-theme .dashboard-incomplete {
  background-color: #333333;
  color: #fff;
}

.light-theme .complete-profile-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dark-theme .complete-profile-container {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
